venv/
venv
.DS_Store
__pycache__
consec/checkpoints/consec_wngt_best.ckpt
consec/data/WSD_Evaluation_Framework/
consec/data/WSD_Evaluation_Framework
consec/data/pmi/
consec/data/pmi
consec/outputs/
semeval-2023-task-1-V-WSD-trial-v1.tar.gz
semeval-2023-task-1-V-WSD-trial-v1.tar.gz
data/semeval-2023-task-1-V-WSD-train-v1
outputs
gen_data
dot.sh
.vscode
se23-consec-train-output
